extends layout

mixin project($item)
    .project-item
        p
            b !{$item['title']}
            br
            | License: 
            a(href=$item['links']['license']) !{$item['license']}
            br
            | Website: 
            a(href=$item['links']['website']) !{$item['links']['website']}
            br
            | Repository: 
            a(href=$item['links']['repository']) !{$item['links']['repository']}
            br
            | Maintainers:
            each $maintainer in $item['maintainers']
                |  
                a(href="{$maintainer['link']}") !{$maintainer['name']}
            br
            | Tags:
            each $tag in $item['tags']
                |  
                a(href="https://foss.best") #!{$tag}

block content
    .project-list
        each $item in $index
            +project($item)
