html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{$title}
        link(rel="stylesheet", href="/static/dank-mono.css")
        link(rel="stylesheet", href="/static/norm.css")
        link(rel="stylesheet", href="/static/style.css")
        link(rel="shortcut icon", href="/favicon.png")
    body
        .container
            header
                h1
                    a(href="https://foss.best") FOSSBest

            block content

            footer
                p
                    a(href="https://foss.best") foss.best
                    |  is an open source project hosted on  
                    a(href="https://codeberg.org/FOSSBest") Codeberg
