* {
    box-sizing: border-box;
    outline-color: red;
}
body {
    font-family: "dm", monospace;
    color: #333;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 32px auto;
    padding: 0 32px;
}
p {
    line-height: 1.2em;
    margin-bottom: 1.2em;
}
a {
    color: #00695c;
}
